.button-container{
    .button{
        border:none;
        margin-top: 2rem;
        background-color: #4285f4; 
        color:white;
        cursor: pointer;
        height:1.5rem;
    &:hover{
        background-color: #357ae8;
        border: none;
        }
    }
}