.contact{
    h1{
        text-align: center;
        margin-top:4rem;
    }
    .form-container{
        font-family: 'Raleway', sans-serif;
        margin-top: 3rem;
        text-align: center;
    }
}