.login{
    .form-container{
        font-family: 'Raleway', sans-serif;
        text-align: center;
        margin-top: 5rem;
    }
    .forgot-password{
        text-align: center;
        margin-top: 1rem;
    }
}